{
	"presets": [ "stage-0", "es2015", "react" ],
	"plugins": [
		"babel-plugin-transform-runtime",
		"transform-class-properties",
		"transform-decorators"
	],
	"sourceMaps": true,
	"only": [ "*.jsx", "*.es6" ],
	"env": {
    "development/client": {
      "presets": [ "react-hmre" ]
    }
  }
}
