{
	"presets": [ "stage-0", "es2015", "react" ],
	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		"transform-class-properties",
		"transform-decorators"
	],
	"sourceMaps": true,
	"only": [ "*.jsx", "*.es6" ],
}
