.nav
   @extend .content-box
   border-bottom 1px solid rgba(#000, .1)

   &__list
      margin 0
      padding 0
      list-style-type none

   &__item
      display inline-block

      +.nav__item
         margin-left 24px

   &__link
      color color-text
      display block
      line-height 48px
      text-decoration none



      &--active
         position relative
         &:before
            absolute top left right
            background-color #cfcace
            content ""
            height 3px
