/* depth */
$z-overlays: 10;
$z-dropdowns: 20;

/* easing */
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);

body {
  color: $(COLOR_TEXT);
  margin: 0;
  padding: 0;
  background-color: $(COLOR_WHITE);
  font-family: $(FONT_SANS);
  font-size: $(FONT_SIZE_DEFAULT);
  font-variant-ligatures: common-ligatures;
  line-height: $(FONT_LINE_HEIGHT_DEFAULT);

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    font-weight: 100;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  }
}
