:local(.todo)
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-direction row
  -ms-flex-direction row
  flex-direction row
  -webkit-flex-wrap nowrap
  -ms-flex-wrap nowrap
  flex-wrap nowrap
  -webkit-justify-content flex-start
  -ms-flex-pack start
  justify-content flex-start
  -webkit-align-content center
  -ms-flex-line-pack center
  align-content center
  -webkit-align-items center
  -ms-flex-align center
  align-items center

:local(.text)
  padding 0 8px
